<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/blog/bs/css/bootstrap.css">
    <script src="/static/blog/bs/js/bootstrap.js"></script>


</head>
<body style="background-color: #cccccc">
<h3 class="has-error" style="text-align: center">修改密码</h3>
<div class="container" style="padding-top: 50px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="user">用户名</label>
                    <input type="text" id="user" class="form-control" value="{{ request.user.username }}" disabled>
                </div>
                <div class="form-group">
                    <label for="pwd">旧密码</label>
                    <input type="password" id="old_password" name="old_password" class="form-control" placeholder="旧密码">
                </div>
                <div class="form-group">
                    <label for="pwd">新密码</label>
                    <input type="password" id="new_password" name="new_password" class="form-control" placeholder="新密码">
                </div>
                <input type="submit" class="btn btn-primary login_btn btn-group-justified" value="确认修改"
                   style="margin-top: 10px">
            </form>

        </div>
    </div>
</div>
</body>

<script>
    $('#old_password').focus(function () {
        $(this).removeAttr('placeholder')
    });
    $('#new_password').focus(function () {
        $(this).removeAttr('placeholder')
    });
</script>
</html>